<!doctype html>
<html lang="en">

<head>
  <title>Hacktiv8 Task Tracker - Login</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    
  </header>
  <main>

    <div class="container-fluid">

        <div class="container">
            
          <div class="container  pt-4">

            <div class="row row-cols-3  pt-4">
                <div class="col">&nbsp;</div>
                <div class="col">
                    <% if (errors) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p> <center><strong><%= errors %></strong></center></p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                    <% } %>

                    <h3 class="text-center">Login</h3>
                
                <form action="/login" method="post">
                    <div class="mb-3">
                      <label for="" class="form-label">Username</label>
                      <input type="text"
                        class="form-control" name="username" id="" aria-describedby="helpId" placeholder="Username">
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Password</label>
                        <input type="password"
                          class="form-control" name="password" id="" aria-describedby="helpId" placeholder="Password">
                    </div>

                    <center><button type="submit" class="btn btn-sm btn-secondary">Login</button></center>
                    <p class="form-text text-muted float-end">
                        <a href="/register">Create Account</a>
                    </p>
                </form>
                
                </div>

                <div class="col">&nbsp;</div>
            

        </div>


    </div>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>