<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="/mentors" aria-current="page">Home</a>
        <a class="nav-item nav-link" href="/mentors/tasks" aria-current="page">Tasks List</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
</nav>