<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="/students" aria-current="page">Home</a>
        <a class="nav-item nav-link" href="/students/progress/" aria-current="page">Progress</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
</nav>